
{% extends 'layouts/main.html' %}
{% block title %}Find a Pharmacy{% endblock %}
{% block content %}
<section>
  <div class="col-md-12">
      <a href="/"><img id="logo" height='100' src='../../static/img/withinreachlogo.png' class="img" alt="within reach logo" /></a>
  </div>
  <form method="POST" action="/find-a-pharmacy" class="style-4 pull-right">
    <input type="text" name="zipcode" placeholder="ZIP CODE">
    <input type="submit" style="visibility: hidden;">
  </form>
</section>

<script type="text/javascript">
$(function() {
    $('.style-4').each(function() {
        $(this).find('input').keypress(function(e) {
            // Enter pressed?
            if(e.which == 10 || e.which == 13) {
                this.form.submit();
            }
        });

        $(this).find('input[type=submit]').hide();
    });
});
</script>

{% endblock %}