{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="root" class="container-fluid">
    <section class="home">
        <div class="container text-center">
            <div>
                <img height='300' src='../../static/img/withinreachlogo.png' class="img" alt="within reach logo" />

            </div>
            <h5 class="hero__description">
                we believe access to birth control <br /> should always be within reach
            </h5>
            <div class="hero__cta">
                <a href="/find-a-pharmacy">
                    <button
                      class="btn btn-teal"
                      label="Get Access"
                    >GET ACCESS</button>

                </a>
                <button
                  class="btn btn-teal"
                  label="Help Others"
                >HELP OTHERS</button>
            </div>
        </div>
    </section>
    <!-- GOOD NEWS -->
    <section id="good-news">
        <div class="container text-center">
            <h1 class="good-headline">THE GOOD NEWS</h1>
            <h6 class="hero__description">
                a law that permits California pharmacists <br/>
                to prescribe contraceptives has taken effect <br/><br/>

                this makes obtaining prescription birth control
                more convenient and easily accessible
            </h6>

        </div>
    </section>
</div>

{% endblock %}
