{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}
    <section>
        <div class="text-center">
            <div class="row home">
                <div class="col-md-12">
                    <img id="logo" height='300' src='../../static/img/whitelogo.png' class="img" alt="within reach logo" />
                </div>

                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h5 class="hero__description">
                        we believe access to birth control should always be within reach
                    </h5>
                </div>
                <div class="col-md-2"></div>

                    <div class="hero__cta col-md-12">
                        <a href="/find-a-pharmacy">
                            <button
                              class="btn btn-teal btn-first"
                              label="Get Access"
                            >GET ACCESS</button>
                        </a>
                        <button
                          class="btn btn-teal btn-first"
                          label="Help Others"
                        >HELP OTHERS</button>
                    </div>

                </div>
            </div>
    </section>
    <!-- GOOD NEWS -->
    <section>
        <div class="text-center">
            <div id="good-news" class="row">
                <div class="col-md-2 col-sm-0 col-xs-0"></div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <h1 class="good-headline">THE GOOD NEWS</h1>
                        <h6 class="body__description">
                            a law that permits California pharmacists
                            to prescribe contraceptives has taken effect <br/></br/>

                            this makes obtaining prescription birth control
                            more convenient and easily accessible
                        </h6>
                    </div>
                <div class="col-md-2 col-sm-0 col-xs-0"></div>
            </div>
        </div>
    </section>
    <!-- BAD NEWS -->
    <section>
        <div class="text-center">
            <div id="bad-news" class="row">
                <div class="col-md-2 col-sm-0 col-xs-0"></div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <h1 class="good-headline">THE BAD NEWS</h1>
                    <h6 class="body__description">
                        many women don’t know that this service is available
                        and many pharmacists haven’t completed the training
                        necessary to provide this service at their location
                    </h6>
                </div>
                <div class="col-md-2 col-sm-0 col-xs-0"></div>
            </div>
        </div>
    </section>
    <!-- WHERE WE COME IN -->
    <section>
        <div class="text-center">
            <div id="where-we-come-in" class="row">
                <div class="col-md-2 col-sm-0 col-xs-0"></div>
                <div class="col-md-8 col-sm-12 col-xs-12">
                    <h1 class="good-headline">WHERE WE COME IN</h1>
                    <h6 class="body__description">
                          Within Reach removes barriers to birth control by helping
        women identify the closest locations for one-stop shop
        pharmacist prescribed contraception. <br/><br/> We are also working
        to demand this service is accessible at all pharmacies.
                    </h6>
                </div>
                <div class="col-md-2 col-sm-0 col-xs-0"></div>
            </div>
        </div>
    </section>
    <!-- HELP -->
    <section id="help">
        <div class="text-center">
            <div class="row">
                <div id="find-help" class="col-md-6">
                    <h1 class="good-headline">WE WANT TO <br/> HELP YOU</h1>
                    <h6 class="body__description">
                        find a pharmacy <br/> that will provide <br/> birth control prescription
                    </h6>
                    <a href="/find-a-pharmacy"><button
                          class="btn btn-teal btn-bottom"
                          label="Search"
                        >SEARCH</button></a>
                </div>
                <div id="give-help" class="col-md-6">
                    <h1 class="good-headline">HELP US <br/> HELP OTHERS</h1>
                    <h6 class="body__description">
                        identify pharmacies <br/> that provide this service, <br/> and pressure those that don’t
                    </h6>
                    <button
                          class="btn btn-teal btn-bottom"
                          label="Help"
                        >HELP</button>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
