{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

<div id="root" class="container-fluid">
    <section class="home">
        <div class="container text-center">
            <div>
                <img height='300' src='../../static/img/whitelogo.png' class="img" alt="within reach logo" />

            </div>
            <h5 class="hero__description">
                we believe access to birth control <br /> should always be within reach
            </h5>
            <div class="hero__cta">
                <a href="/find-a-pharmacy">
                    <button
                      class="btn btn-teal"
                      label="Get Access"
                    >GET ACCESS</button>

                </a>
                <button
                  class="btn btn-teal"
                  label="Help Others"
                >HELP OTHERS</button>
            </div>
        </div>
    </section>
    <!-- GOOD NEWS -->
    <section id="good-news">
        <div class="container text-center">
            <h1 class="good-headline">THE GOOD NEWS</h1>
            <h6 class="body__description">
                a law that permits California pharmacists <br/>
                to prescribe contraceptives has taken effect <br/><br/>

                this makes obtaining prescription birth control <br/>
                more convenient and easily accessible
            </h6>

        </div>
    </section>
    <!-- BAD NEWS -->
    <section id="bad-news">
        <div class="container text-center">
            <h1 class="good-headline">THE BAD NEWS</h1>
            <h6 class="body__description">
                many women don’t know that this service is available <br/>
                and many pharmacists haven’t completed the training <br/>
                necessary to provide this service at their location
            </h6>

        </div>
    </section>
    <!-- WHERE WE COME IN -->
    <section id="where-we-come-in">
        <div class="container text-center">
            <h1 class="good-headline">WHERE WE COME IN</h1>
            <h6 class="body__description">
                  Within Reach removes barriers to birth control by helping<br/>
women identify the closest locations for one-stop shop<br/>
pharmacist prescribed contraception. We are also working
to demand this service is accessible at all pharmacies.
            </h6>
        </div>
    </section>
    <!-- HELP -->
    <section id="help">
        <!-- <div class="container text-center row">
            <div id="find-help" class="col-md-6">
                <h1 class="good-headline">WE WANT TO HELP YOU</h1>
                <h6 class="body__description">
                    find a pharmacy that will provide birth control prescription
                </h6>
                <a href="/find-a-pharmacy"><button
                      class="btn btn-teal"
                      label="Search"
                    >SEARCH</button></a>
            </div>
            <div id="give-help" class="col-md-6">
                <h1 class="good-headline">HELP US HELP OTHERS</h1>
                <h6 class="body__description">
                    identify pharmacies that provide this service, and pressure those that don’t
                </h6>
                <button
                      id="help-button"
                      class="btn btn-teal"
                      label="Help"
                    >HELP</button>
            </div>
        </div> -->
        <div class="hero__cta">
                <a href="/find-a-pharmacy">
                    <button
                      id="search-btn"
                      class="btn btn-teal"
                      label="Get Access"
                    >GET ACCESS</button>

                </a>
                <button
                  id="help-btn"
                  class="btn btn-teal"
                  label="Help Others"
                >HELP OTHERS</button>
            </div>
    </section>
</div>

{% endblock %}
