:root {
  --dark-yellow-bg-color: #fff999;
  --dark-green-color: #00a796;
}

body {
    position: relative;
    margin: 0;
    min-width: 100%;
}

section {
    min-height: 100vh;
}

#good-news {
  background: url('../img/ltyellowbackground-01.png') bottom center no-repeat;
  background-size: 100%;
}

#bad-news {
  background: url('../img/yellow2background-01.png') bottom center no-repeat;
  background-size: 100%;
}

#where-we-come-in {
  background-color: #a1c1b2;
}

// #find-help {
//   min-height: 100%;
// }

// #give-help {
//   background-color: var(--dark-green-color);
//   color: white;
//   min-height: 100%;
// }

#give-help h1 {
  color: white;
}

#help {
  background-image: url('../img/help_us.png');
  background-size: 1250px;
}

#enter-zipcode {
  background-image: url('../img/SLIDE1-01.png');
  min-height: 100vh;
  background-size: 100vw;
  background-repeat: no-repeat;
}

#zipcodelink {
  height: 200px;
  width: 500px;
  top: 1px;
  position: absolute;
  margin-left: 800px;
}

#results-page {
  background-image: url('../img/results.png');
  min-height: 100vh;
  background-size: 100vw;
  background-repeat: no-repeat;
}

.last-btn {
  margin-top: 700px !important;
  background-color: white !important;
  color: #00a796 !important;

}

#withinreachlink {
  height: 200px;
  width: 200px;
}

.last-btn:last-child {
  margin-left: 300px !important;
  background-color: white !important;
  color: #00a796 !important;
  margin-bottom: 10px;
}

 #map {
  height: 400px;
  width: 100%;
}

.btn-teal {
    width: 200px;
    height: 60px;
    background-color: var(--dark-green-color) !important;
    color: white !important;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 26px !important;
    margin-right: 50px;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 30px !important;
}

#help-btn {
  background-color: white !important;
  color: var(--dark-green-color) !important;
  margin-bottom: 1em;
  margin-left: 400px;
  margin-top: 800px;
}

#search-btn {
  margin-left: 200px;
  margin-top: 800px;
}

.btn-teal:last-child{
    margin-left: 50px;
}

.home {
  background-image: url('../img/backgroundimagedark.jpg');
  color: white;
  height: 100vh;
  display: flex;
  min-width: 100%;
}

.img {
    margin-top: 3em;
    margin-bottom: 3em;
}

.hero__description {
    font-size: 3em;
    font-family: 'Raleway', sans-serif;
}

.body__description {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

.good-headline {
  font-family: 'Oswald', sans-serif;
  color: var(--dark-green-color);
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 5em;
}

.good__description {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}

.flex-grid {
  flex-direction: row;
  margin: 0 0 20px 0;
}
.flex-grid .col {
  flex: 1;
  padding: 20px;
}